// settings
$font-main: "DM Sans", sans-serif;
$font-main2: "Cardo", serif;
$font-main3: "Outfit", serif;
$fontIcon: "icomoon";
$fontIcon2: "flaticon_upskill";

:root {
    
    // bg
    --Black: #000000;
    --White: #F2F3EC;
    --Primary: #2E1C1C;
    --Secondary: #284849;
    --Border: #E4E4E7;
    --Soft-Text: #6177ac;
    --bg-1: #F3F3F3;
    --bg-2: #C1BB93;
    --bg-3: #D7C7EA;
    --bg-4: #2E1C1C;
    --bg-5:#F5F5F2;
    --bg-6: #e7e8de;
}